---
layout: default
---

<div class="home">

  <h1>latest posts</h1>

  <ul class="posts">
    {% assign i = 0 %}
    {% for post in site.posts %}
      {% unless post.tag %}
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% assign i = i | plus: 1 %}
        {% if i == 5 %}
          {% break %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe"><a href="{{ "/archives" }}">all posts</a> &middot; subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
