<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.summary200 %}{{ page.summary200 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{% if page.url == '/' %}http://www.cureffi.org/archives/{% else %}{{ page.url }}{% endif %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42627224-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-42627224-1');
    </script>

    <!-- Twitter Cards -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="cureffi" />
    <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="twitter:description" content="{% if page.summary200 %}{{ page.summary200 }}{% endif %}" />
    <meta property="twitter:image" content="{% if page.thumb120 %}{{ page.thumb120 }}{% endif %}" />
    <meta property="twitter:url" content="{{ page.url }}" />

    <!-- MathJax -->
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
                tex2jax: {inlineMath: [['$$','$$']]}
            });
    </script>
</head>
